body {
  background-color: #faedca;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Orbitron", sans-serif;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  gap: 5px;
  justify-content: space-between;
  align-content: space-between;
}

.row {
  display: flex;
  gap: 5px;
}

.sqr {
  width: 80px;
  aspect-ratio: 1/1;
  border: 1px solid black;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.keyboard {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2C078;
  border: 1px solid #000;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.key:hover,
#reset:hover {
  background-color: #FE5D26;
}

.key-wide {
  width: 64px;
}

@media (max-width: 500px) {
  .board {
    justify-content: center;
  }

  .sqr {
    width: 58px;
    font-size: 32px;
  }

  .key {
    width: 32px;
    height: 32px;
  }

  .key-wide {
    width: 54px;
  }
}

#reset {
  margin-bottom: 30px;
  padding: 5px;
  font-family: "Orbitron", sans-serif;
  background-color: #F2C078;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.spin {
  animation: spin 1s linear;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes horizontal-shake {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}

.shake {
  animation: horizontal-shake 0.3s linear;
}

.absent {
  background-color: #cfcfc4;
}

.present {
  background-color: #FDFD96;
}

.correct {
  background-color: #80EF80;
}

.instructions {
  position: fixed;
  display: flex;
  padding: 20px;
  width: 350px;
  min-height: 400px;
  background-color: #F2F4FF;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50px;
}

.instructions-title {
  margin: 10px 10px 0 10px;
}

.instructions-content {
  font-family: sans-serif;
  text-align: left;
  padding-left: 0;
}

.instructions-content ul {
  padding: 0 0 15px 15px;
}

.instructions-example div {
  display: inline-block;
  border: 2px solid;
  width: 17px;
  height: 17px;
  text-align: center;
}

.play-button {
  padding: 5px 10px;
  background-color: #F2C078;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.play-button:hover {
  background-color: #FE5D26;
}

.help {
  position: fixed;
  display: flex;
  top: 30px;
  right: 40px;
  z-index: 1000;
  border: 2px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.help:hover {
  cursor: pointer;
  width: 35px;
  height: 35px;
  top: 25px;
  right: 35px;
  font-size: 20px;
}

.win-streak {
  position: fixed;
  display: flex;
  top: 32px;
  right: 100px;
  z-index: 1000;
  height: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}